@import "~/styles/variables";

.learning-part-content-container {
  flex: 1;
  height: fit-content;
  overflow-y: auto;

  .content-header {
    width: 100%;
    padding: 24px 30px;

    .content-title {
      font-size: 36px;
      font-weight: 700;
    }
  }

  .content-main {
    width: 100%;
    padding: 0 30px;

    .content-about-unit {
      width: 100%;
      height: fit-content;
      padding: 24px 32px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #dfdcdc;

      .about-unit-title {
        font-size: 22px;
        font-weight: 600;
      }

      .about-unit-desc {
        font-size: 16px;
        padding-top: 12px;
      }
    }
  }
}
