@import "~/styles/variables";

.banner-information {
  flex: 1;
  height: fit-content;
  margin: 50px 0;

  .icon-info {
    margin-bottom: 10px;
  }

  .infor-title {
    margin-bottom: 20px;
    font-size: 56px;
    font-weight: 600;
    font-style: inherit;
    color: $text-color;

    .hightlight {
      color: $primary-color;
    }
  }

  .infor-desc {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    font-style: inherit;
    line-height: 1.7;
    color: $text-color;
  }

  .infor-rating {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: $text-color-gray;

    .hightlight {
      font-size: 20px;
      color: $primary-color;
    }
  }

  .icon-info-bottom {
    margin-left: -50px;
  }
}
