@import "~/styles/variables";

.view-exam-container {
  width: 100%;

  .score-summary-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .score-summary-container {
      width: 80%;
      height: fit-content;
      border: 1px solid #000;

      .score-summary-header {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #000;

        .score-summary-text {
          font-size: 40px;
          font-weight: bold;
          letter-spacing: 1.3px;
        }
      }

      .score-summary-content {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .total-score {
          font-size: 36px;
          letter-spacing: 1.3px;
          margin-bottom: 15px;

          .score {
            font-size: 38px;
            font-weight: 600;
          }
        }

        .score-part-container {
          width: 90%;
          display: flex;
          align-items: center;
          column-gap: 20px;

          .score-part-item {
            flex: 1;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .part-title {
              font-size: 28px;
              font-weight: 600;
              letter-spacing: 1.2px;
            }

            .part-score {
              font-size: 38px;
              font-weight: 600;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .score-statistics-wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .score-statistics-nav {
      width: 80%;
      display: flex;
      align-items: center;

      .nav-item {
        cursor: pointer;
        flex: 1;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-weight: 600;
        background-color: #f3f3f3;
        border-top: 3px solid transparent;
        transition: all 0.2s ease;

        &:hover {
          border-top: 3px solid #c4cff5;
        }

        &.active {
          border-top: 3px solid $primary-color;
          background-color: $bg-primary-color;
        }
      }
    }

    .score-statistic-item-container {
      width: 80%;
      margin-top: 20px;

      .analysis-overview-container {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 20px;

        .analysis-score {
          width: 250px;
          height: 180px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          border: 2px solid #000;

          .score-title {
            font-size: 18px;
            letter-spacing: 1.1px;
          }

          .score-number {
            font-size: 60px;
            font-weight: 600;
          }

          .score-desc {
            font-size: 18px;
            letter-spacing: 1.3px;
          }
        }

        .analysis-infor {
          flex: 1;

          .analysis-overview {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .overview-title {
              font-size: 22px;
              font-weight: 600;
            }

            .overview-number {
              display: flex;
              align-items: center;
              column-gap: 12px;

              .correct {
                display: flex;
                align-items: center;
                column-gap: 8px;
                font-size: 17px;

                .icon {
                  font-size: 14px;
                  color: #a3da09;
                }
              }

              .incorrect {
                display: flex;
                align-items: center;
                column-gap: 8px;
                font-size: 17px;

                .icon {
                  font-size: 14px;
                  color: #ff3e2a;
                }
              }
            }
          }
        }
      }
    }
  }
}
