@import "~/styles/variables";

.enter-target-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 106;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
  background-color: rgba(0, 0, 0, 0.4);

  .enter-target-popup-container {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid $border-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: $bg-primary-color;
    animation: slideDown 0.35s ease-out;

    .enter-target-popup-content {
      width: 100%;
      padding: 20px 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      row-gap: 12px;

      .content-title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
      }

      .content-desc {
        font-size: 18px;
      }

      .enter-target-container {
        width: 100%;

        .enter-target-item {
          width: 100%;

          .target-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .enter-title {
              font-size: 18px;
              font-weight: 600;

              .highlight {
                font-style: italic;
                font-weight: 400;
              }
            }

            .value-target {
              font-size: 20px;
              font-weight: 600;
            }
          }

          .enter-target {
            margin: 16px 0;
          }
        }
      }
    }

    .enter-target-popup-footer {
      width: 100%;
      padding: 0 30px 20px 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .continue-btn {
        padding: 8px 20px;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 600;
        color: $white-color;
        background-color: $primary-color;
        transition: all 0.3s linear;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
