@import "../../../../../styles/variables";

.lesson-content-def {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #c0c0c0;

  .def-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
