@import "~/styles/variables";

.staff-learning-material-wrapper {
  width: 100%;
  height: calc(100% - 61px);
  padding: 20px;

  .staff-learning-material-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: $bg-primary-color;

    .staff-learning-material-header {
      width: 100%;
      height: 79px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;

      .staff-learning-material-text {
        font-size: 20px;
        font-weight: 700;
      }

      .staff-learning-material-options {
        display: flex;
        align-items: center;
        gap: 12px;

        .approve-btn {
          padding: 6px 16px;
          border-radius: 35px;
          font-size: 16px;
          font-weight: 600;
          color: rgb(0, 166, 14);
          border: 1px solid rgb(0, 166, 14);
          background-color: rgba(0, 166, 14, 0.1);
        }

        .active-approve {
          color: $white-color;
          background-color: rgb(0, 166, 14);
        }

        .pending-btn {
          padding: 6px 16px;
          border-radius: 35px;
          font-size: 16px;
          font-weight: 600;
          color: rgb(255, 165, 0);
          border: 1px solid rgb(255, 165, 0);
          background-color: rgba(255, 165, 0, 0.1);
        }

        .active-pending {
          color: $white-color;
          background-color: rgb(255, 165, 0);
        }
      }
    }

    .staff-learning-material-content {
      flex-grow: 1;
      width: 100%;
      padding: 16px 20px;
      display: grid;
      grid-template-columns: repeat(3, calc((100% - 2 * 20px) / 3));
      grid-template-rows: repeat(2, calc((100% - 1 * 20px) / 2));
      gap: 20px;
    }

    .pagination-controls {
      width: 100%;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
