@import "~/styles/variables";

.lesson-content-conc {
  width: 100%;
  height: fit-content;
  padding-top: 32px;
  margin-bottom: 32px;
  border-top: 1px solid #c0c0c0;

  .conc-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
