@import "~/styles/variables";

.learning-item {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: aliceblue;
  transition: all 0.3s ease;
  border: 1px solid $border-color;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-5px);
  }

  &.disabled-item {
    background-color: #f5f5f5;
    color: #999;
    pointer-events: none;
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

  .item-header {
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    .header-infor {
      display: flex;
      align-items: center;
      column-gap: 15px;

      .header-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .header-title {
        flex: 1;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .header-status {
      padding: 8px 20px;
      border-radius: 35px;
      font-size: 17px;
      font-weight: 600;
      color: $primary-color;
      border: 1px solid $primary-color;
      background-color: $bg-primary-color-trans;

      &.approved {
        color: rgb(0, 166, 14);
        border: 1px solid rgb(0, 166, 14);
        background-color: rgba(0, 166, 14, 0.1);
      }

      &.rejected {
        color: rgb(215, 53, 79);
        border: 1px solid rgb(215, 53, 79);
        background-color: rgba(215, 53, 79, 0.1);
      }
    }
  }

  .item-content {
    width: 100%;
    padding: 16px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .content-infor {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      .infor-item {
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-size: 19px;
        font-weight: 600;
      }
    }

    .content-date {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      row-gap: 5px;

      .date-item {
        font-size: 15px;
        font-style: italic;
        color: $text-color-gray;
      }
    }
  }
}