@import "../../../../styles/variables";

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  font-size: 16px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " > ";
  color: $black-color;
  padding: 0 8px;
}

.breadcrumb-link {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: underline;
  }
}
