@import "~/styles/variables";

.publish-sidebar_item {
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: fit-content;
  background-color: $bg-primary-color;

  .sidebar-topic-item {
    width: 100%;
    height: fit-content;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s linear;
    border-bottom: 1px solid $border-color;

    &:hover {
      background-color: #f4f4f4;
    }

    .topic-item-left {
      display: flex;
      align-items: center;
      .topic-item-icon {
        margin-right: 10px;
      }

      .topic-item-title {
        font-size: 16px;
        font-weight: 600;
        width: 245px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    .dropdown-icon {
      font-size: 14px;
    }
  }

  .sidebar-lesson-list {
    width: 100%;
    border-bottom: 1px solid $border-color;

    .sidebar-lesson-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 20px 16px;
      transition: 0.2s linear;

      &:hover {
        background-color: #f4f4f4;
      }

      .lesson-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-lesson {
          margin-right: 10px;
        }
      }

      .lesson-item-title {
        font-size: 16px;
        width: 270px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        transition: color 0.2s ease;
      }
    }

    .active {
      background-color: $active-bg;
      border-left: 5px solid $primary-color;

      &:hover {
        background-color: $active-bg;
      }
    }
  }
}
