@import "../../../../../styles/variables";

.lesson-content-app {
  width: 100%;
  height: fit-content;
  margin-bottom: 32px;

  .app-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
