.contact-context-container {
    text-align: center;
    padding: 40px 20px;
  
    .contact-context-title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    .contact-context {
      font-size: 16px;
      margin-bottom: 30px;
      color: #666;
    }
}