@import "../../../../styles/variables";
.contact-context-wrapper {
  align-items: center;
  justify-content: center;
  text-align: left; 
  padding: 20px; 
  
  .contact-context-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .contact-context-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: #7a7a7a; 
    line-height: 1.6; 
    max-width: 600px; 
  }
}