@import "~/styles/variables";
.take-exam-view-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $bg-primary-color;

  .take-exam-view-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .take-exam-view-content {
      width: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .content-infor-container {
        width: 28%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .content-infor-title {
          font-size: 48px;
          font-weight: 300;
        }

        .content-infor-detail {
          width: 100%;
          margin-top: 25px;
          border-radius: 10px;
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          padding: 20px;

          .detail-item-container {
            width: 100%;
            display: flex;
            margin-bottom: 20px;

            .detail-icon {
              font-size: 20px;
            }

            .detail-infor {
              padding-left: 16px;

              .detail-title {
                font-size: 22px;
                font-weight: bold;
              }

              .detail-desc {
                margin-top: 5px;
                margin-bottom: 9px;
                font-size: 17px;
                font-style: inherit;
              }
            }
          }
        }
      }
    }
    .take-exam-view-footer {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #d3d3d3;

      .next-btn {
        width: 73px;
        height: 40px;
        font-size: 17px;
        border-radius: 120px;
        color: $white-color;
        background-color: #0d6efd;
        transition: all 0.3s linear;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
