@import "~/styles/variables";

.teacher-feedback-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;

  .teacher-feedback-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: $bg-primary-color;

    .teacher-feedback-header {
      width: 100%;
      height: 79px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;

      .teacher-feedback-text {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .teacher-feedback-content {
      width: 100%;
      height: calc(100% - 79px);
      padding: 20px;
      display: grid;
      gap: 20px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
