@import "~/styles/variables";

.detail-item {
  user-select: none;
  width: 100%;
  height: fit-content;
  background-color: $bg-primary-color;

  .detail-topic-item {
    cursor: pointer;
    width: 100%;
    height: fit-content;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s linear;
    border-bottom: 1px solid $border-color;

    &:hover {
      background-color: #f4f4f4;
    }

    .topic-item-left {
      display: flex;
      align-items: center;
      .topic-item-icon {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid #9d9fa2;

        .item-icon {
          font-size: 14px;
        }
      }

      .topic-item-title {
        font-size: 16px;
        font-weight: 600;
        width: 290px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    .dropdown-icon {
      font-size: 14px;
    }
  }

  .detail-lesson-list {
    width: 100%;
    border-bottom: 1px solid $border-color;

    .detail-lesson-item {
      cursor: pointer;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      padding: 20px 16px;
      transition: 0.2s linear;

      &:hover {
        background-color: #f4f4f4;
      }

      .lesson-item-icon {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid #9d9fa2;
        .icon-lesson {
          font-size: 14px;
        }
      }

      .lesson-item-title {
        font-size: 16px;
        width: 290px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        transition: color 0.2s ease;
      }
    }

    .active {
      background-color: $active-bg;
      border-left: 5px solid $primary-color;

      &:hover {
        background-color: $active-bg;
      }
    }

    .isFeedback {
      background-color: $bg-third-color-trans;
      border-left: 5px solid $third-color;

      &:hover {
        background-color: $bg-third-color-trans;
      }
    }
  }
}
