@import "~/styles/variables";

.lesson-content-your-turn {
  width: 100%;
  height: fit-content;
  margin-top: 32px;
  border-bottom: 1px solid #c0c0c0;

  .your-turn-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
