/* Regular */
@font-face {
  font-family: "Aptos";
  src: url("~/assets/fonts/Aptos-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Aptos";
  src: url("~/assets/fonts/Aptos-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Aptos";
  src: url("~/assets/fonts/Aptos-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Aptos";
  src: url("~/assets/fonts/Aptos-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Aptos";
  src: url("~/assets/fonts/Aptos-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

$primary-color: rgb(36, 70, 182);
$secondary-color: rgb(244, 207, 57);
$third-color: rgb(215, 53, 79);
$fourth-color: rgb(81, 191, 179);
$text-color: #1b212f;
$text-color-gray: #707070;
$black-color: #21242c;
$white-color: #ffffff;
$success-color: rgb(0, 166, 14);
$bg-success-color: rgba(0, 166, 14, 0.1);
$bg-primary-color: #ffffff;
$bg-secondary-color: rgba(36, 70, 182, 0.1);
$bg-primary-color-trans: rgba(36, 70, 182, 0.1);
$bg-secondary-color-trans: rgba(244, 207, 57, 0.1);
$bg-third-color-trans: rgba(215, 53, 79, 0.1);
$bg-fourth-color-trans: rgba(81, 191, 179, 0.1);
$font-family-base: "Aptos", sans-serif;
$font-size-base: 16px;
$btn-br: 40px;
$btn-hover-fourth: #4cb3a7;
$icon-color: #5f5f5f;
$hover-bg-icon: rgba(36, 70, 182, 0.1);
$hover-bg-item: rgba(36, 70, 182, 0.1);
$active-bg: rgba(237, 243, 254);
$active-bg-hover: rgba(218, 230, 253);
$border-color: #dbdcdd;
$scrollbar-color: #e4e4e4;
$bg-button-color: rgba(92, 117, 201, 0.1);
