@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 400;
  color: $text-color;
  background-color: $bg-primary-color;
  overflow: hidden;
}

.ql-editor {
  font-family: $font-family-base;
  font-size: 18px !important;
}