@import "~/styles/variables";


.teacher-manage-material-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  .teacher-manage-material-container {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: $bg-primary-color;

    .teacher-manage-material-header {
      width: 100%;
      padding: 16px;
      background-color: $primary-color;
      border-radius: 10px 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white-color;

      .empty {
        width: 35px;
        height: 35px;
      }

      .title {
        font-size: 20px;
        font-weight: bold;
      }

      .close-btn {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;

        &:hover {
          opacity: 0.7;
        }
      }
    }
    .teacher-profile-content {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 15px 15px 0 0;
      padding: 20px;
      background-color: #f4f4f4;

      .teacher-profile-infor {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 60px;

        .profile-avatar {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          object-fit: cover;
        }

        .profile-infor {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-row-gap: 15px;
          grid-column-gap: 60px;

          .infor-item {
            display: flex;
            align-items: center;
            column-gap: 12px;
            font-size: 18px;

            .item-title,
            .item-text {
              font-weight: 600;
            }
          }
        }
      }
    }
    .teacher-manage-material-content {
      width: 100%;
      flex-grow: 1;
      .study-profiles-list {
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .no-profiles {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .no-data-content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .no-data-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
          .no-data-text {
            font-size: 18px;
            font-weight: 600;
            color: #bbcef3;
          }
        }
      }
    }
  }
}