@import "../../styles/variables";
.contact-wrapper {
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    .contact-container {
      width: 100%;
      height: fit-content;
      margin-top: 90px;
      .contact-banner-wrapper{
        margin-bottom: 90px;
      }
      .contact-information-wrapper{
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
      }
      .contact-subscribe-wrapper {
        width: 100%;
        height: fit-content;
        padding: 150px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
}