@import "../../styles/variables";

.contact-wrapper {
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  

  .contact-container {
    width: 100%;
    height: fit-content;
    margin-top: 90px;

    .contact-banner-wrapper {
      margin-bottom: 90px;
    }

    .contact-information-wrapper {
      width: 90%; 
      max-width: 1350px; 
      margin: 0 auto 90px auto; 
      display: flex;
      align-items: center;
      justify-content: space-between; 
      padding: 50px 0; 
      

      .contact-information-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .contact-information-container-left {
          flex: 3.5;
          margin-right: 120px;
        }

        .contact-information-container-right {
          flex: 3.5;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .contact-information-context {
            margin-bottom: 20px;
          }

          .contact-information-card {
            margin-bottom: 20px;
          }
        }
      }
    }

    .contact-subscribe-wrapper {
      width: 100%;
      height: fit-content;
      padding: 150px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
