@import "~/styles/variables";

.table-wrapper {
  width: 100%;

  .table-container {
    width: 100%;
    background-color: #ffffff;

    .header-container {
      width: 100%;
      height: 87px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 20px;
      background-color: #ffffff;

      .header-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 10px;
          width: 313px;
        }

        .filter-btn {
          padding: 10px 15px;
          background-color: $primary-color;
          color: white;
          font-weight: 600;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          margin-right: 10px;

          &:hover {
            background-color: #4962b5;
          }
        }
      }
    }

    .user-table-container {
      width: 100%;
      padding: 0 20px;
    }

    .user-table {
      width: 100%;
      border-collapse: collapse;

      thead th {
        background-color: $primary-color;
        padding: 16px;
        font-size: 17px;
        text-align: center;
        font-weight: 600;
        color: $white-color;
      }

      tbody td {
        padding: 16px;
        font-size: 17px;
        text-align: center;
        border-bottom: 1px solid #ddd;
      }

      .email {
        width: 350px;
      }

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        .avatar-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .status {
        width: 130px;
        .status-type {
          padding: 6px 12px;
          border-radius: 25px;
          font-family: 17px;
          font-weight: 600;

          &.completed-status {
            border: 1px solid $success-color;
            color: $success-color;
            background-color: $bg-success-color;
          }

          &.active-status {
            border: 1px solid $primary-color;
            color: $primary-color;
            background-color: $bg-primary-color-trans;
          }

          &.inactive-status {
            border: 1px solid $third-color;
            color: $third-color;
            background-color: $bg-third-color-trans;
          }
        }
      }

      .action-cell {
        width: 130px;
        text-align: center;

        .action-icons {
          display: flex;
          justify-content: center;
          gap: 10px;

          .icon {
            cursor: pointer;
            font-size: 18px;
            transition: transform 0.2s ease;
            color: $primary-color;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .paging-container {
      width: 100%;
      height: 47px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 6px;
      background-color: white;
      border-radius: 0 0 15px 15px;

      .pagination button {
        padding: 5px 10px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      .pagination button:hover {
        background-color: #f0f0f0;
      }
    }
  }
}