@import "~/styles/variables";

.exam-history-view-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 106;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  .exam-history-view-container {
    position: relative;
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid $border-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: $bg-primary-color;

    .exam-history-view-header {
      width: 100%;
      padding: 14px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;

      .profile-title {
        font-size: 20px;
        font-weight: 600;
      }

      .profile-close {
        cursor: pointer;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        transition: all 0.3s linear;

        &:hover {
          background-color: #f4f4f4;
        }
      }

      .profile-empty {
        width: 35px;
        height: 35px;
      }

      .profile-aciton {
        width: 140px;
        height: 35px;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 600;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: all 0.2s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .exam-history-view-content {
      width: 100%;
      padding: 20px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .view-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        .title {
          width: 1200px;
          font-size: 30px;
          letter-spacing: 1.4px;
          color: #494949;
        }
      }

      .tests-list-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .tests-list-content {
          width: 1200px;

          .test-item-intro {
            width: 100%;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .intro {
              flex: 1;
              text-align: center;
              font-size: 18px;
              color: $text-color-gray;
            }
          }

          .test-item-container {
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            margin-bottom: 24px;
            background-color: $bg-primary-color-trans;

            .item {
              flex: 1;
              text-align: center;
              font-size: 19px;

              &.down {
                color: $third-color;
              }

              &.up {
                color: $success-color;
              }
            }

            .view-btn {
              padding: 6px 16px;
              font-size: 17px;
              font-weight: 600;
              border-radius: 5px;
              color: $primary-color;
              border: 1px solid $primary-color;
              background-color: $bg-primary-color-trans;
              transition: all 0.3s linear;

              &:hover {
                opacity: 0.7;
              }

              .view-text {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
