@import "~/styles/variables";

.teacher-topbar-wrapper {
  position: relative;
  flex: 1;
  height: 80px;
  position: fixed;
  top: 0;
  left: 280px;
  right: 0;
  z-index: 100;
  padding: 16px 24px;
  background-color: $bg-primary-color;
  border-bottom: 1px solid $border-color;

  .teacher-topbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .teacher-topbar-right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .teacher-notification {
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;

        .teacher-icon {
          font-size: 26px;
          color: $icon-color;
        }

        .teacher-count-notification {
          user-select: none;
          position: absolute;
          top: 4px;
          right: 3px;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $third-color;

          .teacher-number {
            font-size: 14px;
            font-weight: 600;
            color: $white-color;
          }

          .teacher-plus-icon {
            font-size: 8px;
            color: $white-color;
          }
        }

        &:hover {
          background-color: $hover-bg-icon;
        }
      }
    }
  }
}
