@import "~/styles/variables";

.import-create-account-container {
    background: white;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border: 1px solid #ccc;

    .import-modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        background-color: #2a3f54;
        border-radius: 8px 8px 0 0;
        padding: 15px;
        position: relative;

        .import-modal-title {
            font-size: 20px;
            font-weight: bold;
            color: white;
            text-align: center;
        }
    }

    .import-form-container {
        padding: 15px;

        .import-form-group {
            margin-bottom: 15px;

            label {
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: 600;
            }

            input,
            select {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-top: 4px;
            }
        }

        .import-submit-btn {
            width: 100%;
            padding: 10px;
            background-color: #2a3f54;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
            font-weight: bold;
            font-size: 16px;

            &:hover {
                background-color: #1d2b36;
            }
        }
        .import-template-download {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
          
            .import-download-btn {
              padding: 10px 15px;
              background-color: #2a3f54;
              color: white;
              text-decoration: none;
              border-radius: 4px;
              font-weight: bold;
              cursor: pointer;
          
              &:hover {
                background-color: #1d2b36;
              }
            }
          }
          
    }
}