@import "../../../../styles/variables";

.lesson-content-def {
  width: 100%;
  height: fit-content;

  .def-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .def-content {
    border-bottom: 1px solid #c0c0c0;
    p {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 32px;
      margin-top: 0;
    }
  }

  .def-question {
    margin: 32px 0;

    .question-title {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 12px;
      letter-spacing: 1px;
      color: #888d93;
    }

    .question-content {
      p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 32px;
        margin-top: 0;
      }
    }

    .question-instructions {
      .instructions-title {
        font-size: 16px;
        line-height: 1.25;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 16px;
      }
      .instructions-answers {
        .answer {
          padding: 12px 8px;
          border-bottom: 1px solid #c0c0c0;
          .answer-label {
            cursor: pointer;
            display: flex;
            align-items: center;

            .answer-select {
              cursor: pointer;
              width: 22px;
              height: 22px;
              accent-color: $primary-color;
            }

            .answer-text {
              flex: 1;
              padding-left: 12px;
              font-size: 20px;
              line-height: 30px;
            }
          }

          &:nth-child(1) {
            border-top: 1px solid #c0c0c0;
          }
        }
      }
    }
  }
}