@import "~/styles/variables";

.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  .login-container {
    width: 450px;
    height: 620px;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 30px;
    background-color: #fff;
    // animation: slideFromTop 0.5s ease forwards;

    .close {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .close-btn {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.15s linear;

        .icon {
          font-size: 22px;
          font-weight: bold;
        }

        &:hover {
          background-color: #f4f4f4;
        }
      }
    }

    .logo {
      width: 100%;
      height: 55px;
      margin-top: -15px;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo-image {
        width: 190px;
        height: 40px;
        object-fit: cover;
      }
    }

    .welcome {
      width: 100%;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        font-size: 32px;
        font-weight: bold;
      }
    }

    .form-login-wrapper {
      width: 100%;
      height: fit-content;
      margin-top: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      .form-login-container {
        width: 360px;
        height: fit-content;

        .form-content {
          width: 100%;
          height: fit-content;

          .email {
            .email-text {
              width: 260px;
              font-size: 16px;
              font-weight: 600;
              padding-left: 10px;
            }

            .email-input {
              width: 100%;
              height: 50px;
              margin-top: 6px;
              padding: 8px 16px;
              border-radius: 15px;
              border: 2px solid #cdcdcd;

              .input {
                width: 100%;
                height: 100%;
                font-size: 17px;
                border: none;
                outline: none;
                background-color: transparent;
              }
            }
          }

          .password {
            margin-top: 12px;
            .password-text {
              width: 260px;
              font-size: 16px;
              font-weight: 600;
              padding-left: 10px;
            }

            .password-input {
              width: 100%;
              height: 50px;
              margin-top: 6px;
              padding: 8px 16px;
              border-radius: 15px;
              border: 2px solid #cdcdcd;

              .input {
                width: 100%;
                height: 100%;
                font-size: 17px;
                border: none;
                outline: none;
                background-color: transparent;
              }
            }
          }

          .forgot-password {
            margin-top: 8px;

            .reset {
              text-decoration: none;
              font-size: 15px;
              font-weight: 600;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .error-message {
            margin: 15px 0;
            font-size: 14px;
            color: $third-color;
          }

          .login-btn {
            width: 100%;

            .btn {
              cursor: pointer;
              user-select: none;
              width: 100%;
              padding: 10px 16px;
              font-size: 18px;
              font-weight: 600;
              border: none;
              outline: none;
              border-radius: 25px;
              color: $white-color;
              background-color: $primary-color;
              transition: 0.15s linear;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }

        .or {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 25px 0;
          font-weight: bold;
          color: #999;
          font-size: 14px;

          span {
            flex-grow: 1;
            height: 1px;
            background-color: #ccc;
            margin: 0 10px;
          }
        }
        .information {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .text {
            width: 290px;
            text-align: center;
            font-size: 14px;
            line-height: 20px;

            .mark {
              cursor: pointer;
              font-weight: 600;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
