@import "~/styles/variables";

.lesson-content-remember {
  width: 100%;
  height: fit-content;
  margin-top: 32px;

  .remember-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
