@import "../../../../styles/variables";

.slider-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 310px;
  padding: 30px 15px;
  border-radius: 12px;
  background-color: rgba(81, 191, 179, 0.06);

  .item-icon {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .item-title {
    font-size: 24px;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 20px;
  }

  .item-desc {
    width: 90%;
    font-size: 18px;
    font-weight: 400;
    font-style: inherit;
    color: $text-color-gray;
  }
}
