@import "~/styles/variables";

.create-lesson-content-action {
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 14px 16px;
  border-radius: 5px;
  background-image: url("~/assets/images/content/border.svg");
  background-size: cover;
  background-position: center;
  transition: 0.2s linear;

  &:hover {
    background-color: #f8f8f8;
  }

  .create-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: 20px;
    }
  }
  .create-text {
    font-size: 18px;
    font-weight: 600;
  }
}
