@import "~/styles/variables";

.module-question-table {
  width: 100%;

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    font-size: 17px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  .custom-table th {
    padding: 16px 12px;
    text-align: left;
    background-color: #f4f4f4;
  }

  .custom-table th:first-child,
  .custom-table td:first-child {
    width: 100px;
    text-align: center;
  }

  .custom-table th:last-child,
  .custom-table td:last-child {
    width: 100px;
    text-align: center;
  }

  .custom-table th:nth-child(2),
  .custom-table td:nth-child(2) {
    width: 200px;
    text-align: center;
  }
  
  .correct {
    color: $success-color;
    font-weight: bold;
  }
  
  .incorrect {
    color: $third-color;
    font-weight: 600;
  }
  
  .preview-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.2s linear;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}
