@import "~/styles/variables";

.question-distribution-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;

  .question-distribution-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: $bg-primary-color;
    overflow-y: hidden;

    .question-distribution-header {
      width: 100%;
      height: 79px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;

      .question-distribution-text {
        font-size: 20px;
        font-weight: 700;
      }

      .question-distribution-import {
        padding: 6px 14px;
        border-radius: 10px;
        color: $white-color;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        transition: all 0.2s linear;

        &:hover {
          opacity: 0.8;
        }

        .import-icon {
          margin-right: 8px;
        }

        .import-text {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .question-distribution-content {
      width: 100%;
      height: fit-content;
      max-height: calc(100% - 79px);
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .question-distribution-no-content {
      width: 100%;
      height: calc(100% - 79px);
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
